.CartList{
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}

.ItemlistCart{
    margin: auto;
    width: 500px;
    height: 50vh;
    background-color: rgba(235, 228, 228, 0.734);
    border: black 5px solid;
    border-radius: 20px;

}

.flexItemlist{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TitleItemlist{
    color: black;
    border-radius: 15px 15px 0 0;
    background-color: blue;
}

.imgItemlist{
    width: 150px;
    height: 150px;
    border: black 4px solid;
    border-radius: 20px;
}