
.counter{
    width: 250px;
    height: 120px;
    background-color: rgb(187, 13, 13);
    font-size: 2rem;
    color: wheat;
    border: 4px solid white;
    border-radius: 20px;    
  
    
}

.OrdeContador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding-top: 10px;
}

.buttonReducir, .buttonAumentar{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    background: none;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}


.botonmas{
    background-color: #002ead;
}
.botonmenos {
    background-color: #5a01a7;
}

.ButtonAgregar{
    margin: auto 20%;
    padding: 2px;
    border-radius: 20px;
    border: none;
    background-color: #002ead;
    color: white;
    text-align: center;
    width: 150px;
    height: 20%;
    cursor: pointer;
}
